<!DOCTYPE html>
<html>
  <head>
    <title>PYC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar/signed_in_navbar" if current_user && @show_navbar %>
    <%= render "shared/navbar/navbar" if !current_user && @show_navbar %>
    <%= render "shared/flash_messages" %>
    <main class="mx-3">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
